<div class="p-4">
  <div id="muuri-hook" class="relative -mx-1 text-3xl" phx-hook="MuuriHook">
    <%= for widget <- @widgets do %>
      <div id="widget-<%= widget.id %>" data-id="<%= widget.id %>" class="absolute p-1 <%= width(widget) %>">
        <%= live_render @socket, MuuriWeb.WidgetLive,
          id: ["widget-live-", widget.id],
          session: %{"widget_id" => widget.id},
          container: {:div, class: "rounded border bg-white"} %>
      </div>
    <% end %>
  </div>
</div>
